
<%= @quiz.title %> </a>
<br>
<label>Number of Questions:</label>
<%= @quiz.number_of_questions %>
<br>
<label>Quiz Day:</label>
<%= @quiz.day %>
<br>
<label>Time Allowed:</label>
<%= @quiz.max_time %>


<% @quiz.questions.each do |question| %>
  <div class='quiz-admin-show-individual' style="border: 3px solid black;border-radius:5px;margin:5px;width:500px;">
    <br>
      <% if question.correct_answer_id === nil %>
        <div style="color:red;">No Correct Answer Selected</div>
        <br>
      <% else %>
        Correct answer:

        <%= question.correct_answer.text%>
        <br>
        <br>
      <% end %>

    Question:
    <%= question.text%>
    <br>
    Type:
    <%= question.question_type%>
    <br>
    Explanation:
    <%= question.explanation %>

  <div class="answers" style="margin-left:30px;">
    Answer:

    <form action="/quizzes/<%=question.quiz_id%>/questions/<%=question.id%>" method="post">
        <input type="hidden" name="_method" value="patch">

          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
      <% question.answers.each do |answer| %>
        <br>
        <% if answer.id === question.correct_answer_id %>

          <input type="radio"
                name="question[correct_answer_id]"
                value="<%= answer.id%>"
                style="margin:3px;"
                checked
                onclick=this.form.submit();>
                <%= answer.text%>
                <br>

      <% else %>

        <input type="radio"
              name="question[correct_answer_id]"
              value="<%= answer.id%>"
              style="margin:3px;"
              onclick=this.form.submit();>
              <%= answer.text%>
              <br>

      <% end %>

    <% end %>
    </form>

  </div>

  <a style="color:blue;"
  href="/quizzes/<%= @quiz.id %>/questions/<%=question.id%>/answers/new"> Add an Answer </a>
<br>
</div>
<% end %>


<a style="color:blue;"
href="/quizzes/<%= @quiz.id %>/questions/new"> Add a Question </a>
